@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-80%);
  }
}

.scrolling-text {
    animation: scroll 10s linear infinite;
    white-space: nowrap; 
}

/* @media screen and (max-width: 1024px) and (orientation: landscape) {
  .rotate-container {
  
    transform: rotate(-90deg);
    transform-origin: center;
  }

  .container{
    display: none;
  }

  .icon{
    display: none;
  }
} */